extends layout

block content
  h1 Brian's Ported Personal Site
  a.menu-item(href="/") Bio
  a.menu-item(href="Resume") Resume
  a.menu-item(href="Contact") Contact
  a.menu-item(href="Portfolio") Portfolio
  br

  #content!= content
