doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/main.css')
  body
    h1 Brian's Ported Personal Site
    a.menu-item(href="/") Bio
    a.menu-item(href="Resume") Resume
    a.menu-item(href="Contact") Contact
    a.menu-item(href="Portfolio") Portfolio
    br

    #content!= content
